@page "{id:int?}"
@model Ghitau_Emanuela_aplication.Pages.Shops.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>
                model.Shop[0].ShopName)      
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShopData.Shops)
        {
            string selectedRow = "";
            if (item.ID == Model.ShopID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>

                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.ShopData.Perfumes != null)
{
    <h3>Perfumes Edited by Selected Shop</h3>
    <table class="table">

        @foreach (var item in Model.ShopData.Shops)
        {
            string selectedRow = "";
            if (item.ID == Model.ShopID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Perfumes)
                        {

                            @b.Brand @: @b.Country.FullName

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}

